.archive {
  background: #f3f3f3;

  & > .wrapper {
    margin: var(--header-size) 0 40vh;
    padding: 2.4rem 4rem 12rem;
    background: #f3f3f3;

    & > h3 {
      margin: 0 0 6rem -.4rem;
      font-size: var(--fs-heading2);
      font-weight: var(--fw-heading2);
      line-height: var(--lh-heading2);
      color: var(--color-black);
    }
    .tabs {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .tab {
        display: block;
        margin: 0 2rem 0 0;
        padding: .4rem .6rem .2rem;
        font-size: var(--fs-title2);
        font-weight: var(--fw-title2);
        line-height: 1;
        color: var(--color-black);
        transition: .3s ease-in-out;
        cursor: pointer;

        &.active {
          color: var(--color-white);
          background: var(--color-black);
        }
        &:last-child {margin: 0;}
      }
    }

    .gallery {
      margin: 4.8rem 0 0;

      .inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 4rem var(--gutter-size); 
        
        .item {
          width: calc((100% - (var(--gutter-size) * 5)) / 6);
          a {
            & > figure {
              position: relative;
              background: #fff;

              .label {
                position: absolute;
                bottom: .8rem;
                right: .8rem;
              }
            }
            & > h6 {
              margin: 1.6rem 0 .8rem;
              font-family: 'Pretendard';
              font-size: var(--fs-title3);
              font-weight: var(--fw-title3);
              line-height: 1;
              color: var(--color-black);
            }
            & > p {
              font-size: var(--fs-body1);
              font-weight: var(--fw-body);
              line-height: 1;
              color: var(--color-black-70op);
            }
          }
        }
      }
    }
  }  
}