.bookmark {
  .bookmarkSection {
    min-height: 100vh;
    // margin: var(--header-size) 0 0;
    padding: calc(var(--header-size) + 2.4rem) var(--grid-margin-size) 8rem;
    background: var(--color-white);

    .headingTxt {
      margin: 0 0 6rem -.8rem;

      h2 {
        font-family: 'roc-grotesk-wide';
        font-size: var(--fs-heading1);
        font-weight: var(--fw-heading1);
        line-height: var(--lh-heading1);
        color: var(--color-primary);
      }
    }

    .tabs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    
      &::-webkit-scrollbar {display: none;  /* Chrome, Safari, Opera */}

      .tab {
        display: block;
        margin: 0 2rem 0 0;
        padding: .4rem .6rem .2rem;
        font-size: var(--fs-sub-title2);
        font-weight: var(--fw-sub-title2);
        line-height: 1;
        color: var(--color-primary);
        transition: all .3s ease-in-out;
        cursor: pointer;
        white-space: nowrap;

        &:hover {opacity: .4;}
        &.active:hover{opacity: 1;}
        &.active {
          color: var(--color-white);
          background: var(--color-primary);
        }
        &:last-child {margin: 0;}
      }
    }

    .listWrapper {
      margin: 4rem 0 0;

      .itemsInner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: var(--grid-gutter-size);
        
        .listItem {
          grid-column: span 3;
          
          a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 2rem;
            border: .1rem solid rgba(45, 49, 42, .12);
            transition: all .3s ease-in-out;

            figure {
              display: flex;
              justify-content: space-between;
              align-items: center;
  
              img {
                width: 1.6rem;
                height: 1.6rem;
              }

              .cate {
                font-size: var(--fs-body3);
                font-weight: var(--fw-body);
                color: var(--color-primary-40op); 
                line-height: 1;
                transition: all .3s ease-in-out;
              }
            }
  
            h6 {
              margin: 1.2rem 0 .2rem;
              font-size: var(--fs-sub-title3);
              font-weight: var(--fw-sub-title3);
              line-height: var(--lh-sub-title3);
              color: var(--color-primary);
              transition: all .3s ease-in-out;
            }
  
            p {
              font-size: var(--fs-body2);
              font-weight: var(--fw-body);
              line-height: var(--lh-body);
              color: var(--color-primary-76op);
              transition: all .3s ease-in-out;
            }
  
            &:hover {
              background: var(--color-primary);

              figure {.cate {color: var(--color-white-40op);}}
              h6 {color: var(--color-white);}
              p {color: var(--color-white-76op);}
            }
          }
        }
      }
    }
  }  
}

.dark-mode.bookmark {
  .bookmarkSection {
    background: var(--color-black);

    .headingTxt {
      h2 {color: var(--color-secondary);}
      span {color: var(--color-secondary);}
    }
    .tabs {
      .tab {
        color: var(--color-secondary);

        &.active {
          color: var(--color-black);
          background: var(--color-secondary);
        }
      }
    }

    .listWrapper {
      .itemsInner {
        .listItem {
          a {
            border: .1rem solid rgba(166, 169, 153, .12);
            
            figure {.cate {color: var(--color-secondary-40op);}}
            h6 {color: var(--color-secondary);}
            p {color: var(--color-secondary-76op);}
  
            &:hover {
              background: var(--color-secondary);

              figure {.cate {color: var(--color-black-40op);}}
              h6 {color: var(--color-black);}
              p {color: var(--color-black-76op);}
            }
          }
        }
      }
    }
  }  
}

@media (max-width: 1440px){
  .bookmark {
    .bookmarkSection {
      .headingTxt {margin: 0 0 4.8rem -.6rem;}
    }  
  }
}

@media (max-width: 1280px){
  .bookmark {
    .bookmarkSection {
      .headingTxt {margin: 0 0 4.8rem -.6rem;}

      .listWrapper {
        margin: 3.6rem 0 0;
  
        .itemsInner {
          .listItem {grid-column: span 4;}
        }
      }
    }  
  }
}

@media (max-width: 1024px){
  .bookmark {
    .bookmarkSection {
      padding: 2.4rem var(--grid-margin-size) 7.2rem;
  
      .headingTxt {margin: 0 0 4rem -.4rem;}
  
      .listWrapper {
        margin: 3.2rem 0 0;
  
        .itemsInner {
          grid-template-columns: repeat(8, 1fr);
          
          .listItem {grid-column: span 4;}
        }
      }
    }  
  }
}

@media (max-width: 768px){
  .bookmark {
    .bookmarkSection {
      padding: clamp(1.6rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem) var(--grid-margin-size) clamp(6rem, calc((72 / var(--viewportWidth)) * 100vw), 7.2rem);
  
      .headingTxt {margin: 0 0 clamp(2.8rem, calc((32 / var(--viewportWidth)) * 100vw), 3.2rem) calc(clamp(.2rem, calc((4 / var(--viewportWidth)) * 100vw), .4rem) * -1);}
  
      .tabs {
        .tab {margin: 0 clamp(1.2rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem) 0 0;}
      }
  
      .listWrapper {
        margin: clamp(2.4rem, calc((28 / var(--viewportWidth)) * 100vw), 2.8rem) 0 0; 
  
        .itemsInner {
          grid-template-columns: repeat(4, 1fr);
          
          .listItem {
            grid-column: span 2;
            
            a {padding: clamp(1.6rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem);}
          }
        }
      }
    }  
  }
}

@media (max-width: 520px){
  .bookmark {
    .bookmarkSection {
      .listWrapper {
        .itemsInner {
          .listItem {
            grid-column: 1 / -1;
          }
        }
      }
    }
  }
}

@media (max-width: 375px){
  .bookmark {
    .bookmarkSection {
      padding: clamp(1.4rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem) var(--grid-margin-size) clamp(5.6rem, calc((60 / var(--viewportWidth)) * 100vw), 6rem);
  
      .headingTxt {margin: 0 0 clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem) 0;}
  
      .tabs {
        .tab {margin: 0 clamp(.8rem, calc((12 / var(--viewportWidth)) * 100vw), 1.2rem) 0 0;}
      }
  
      .listWrapper {
        margin: clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem) 0 0; 
  
        .itemsInner {
          .listItem {
            a {padding: clamp(1.2rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);}
          }
        }
      }
    }  
  }
}