.bookmark {
  .bookmarkWrapper {
    min-height: 100vh;
    margin: var(--header-size) 0 0;
    padding: 2.4rem 4rem 8rem;
    background: var(--color-white);

    .headingTxt {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 0 6rem -.8rem;

      h2 {
        font-family: 'roc-grotesk-wide';
        font-size: var(--fs-heading1);
        font-weight: var(--fw-heading1);
        line-height: var(--lh-heading1);
        color: var(--color-black);
      }
      span {
        display: inline-block;
        margin: 0 0 0 .8rem;
        font-size: var(--fs-body1);
        font-weight: var(--fw-body);
        line-height: 1;
        color: var(--color-black);
      }
    }
    .tabs {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .tab {
        display: block;
        margin: 0 2rem 0 0;
        padding: .4rem .6rem .2rem;
        font-size: var(--fs-sub-title2);
        font-weight: var(--fw-sub-title2);
        line-height: 1;
        color: var(--color-black);
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {opacity: .4;}
        &.active:hover{opacity: 1;}
        &.active {
          color: var(--color-white);
          background: var(--color-black);
        }
        &:last-child {margin: 0;}
      }
    }

    .listWrapper {
      margin: 4.8rem 0 0;

      & > .inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 2.8rem var(--gutter-size); 
        
        .listItem {
          width: calc((100% - (var(--gutter-size) * 5)) / 6);

          & > a {
            & > figure {
              position: relative;
              background: #fff;

              img {
                scale: 1;
                transition: all .3s ease-in-out;
              }
              .label {
                position: absolute;
                display: inline-block;
                bottom: 0;
                right: 0;
                padding: .3rem .4rem .1rem;
                font-size: var(--fs-body3);
                font-weight: var(--fw-body);
                color: var(--color-black-70op);
                line-height: 1;
                background: var(--color-white);
              }
            }
            & > h6 {
              margin: 1.2rem 0 .2rem;
              font-family: 'Pretendard';
              font-size: var(--fs-sub-title3);
              font-weight: var(--fw-sub-title3);
              line-height: var(--lh-sub-title3);
              color: var(--color-black);
            }
            & > p {
              font-family: 'Pretendard';
              font-size: var(--fs-body2);
              font-weight: var(--fw-body);
              line-height: var(--lh-body);
              color: var(--color-black-70op);
            }
            &:hover {
              & > figure {
                img {scale: 1.2;}
              }
            }
          }
        }
      }
    }
  }  
}