:root {
  --viewportWidth: 1920;

  /* layout */ 
  --header-size: 6rem;
  --grid-margin-size: 4rem;
  --grid-gutter-size: 2rem;
  
  /* color  */
  --color-primary: rgb(45, 49, 42);
  --color-primary-76op: rgba(45, 49, 42, .76);
  --color-primary-40op: rgba(45, 49, 42, .4);
  --color-primary-20op: rgba(45, 49, 42, .2);
  --color-secondary: rgb(166, 169, 153);
  --color-secondary-76op: rgba(166, 169, 153, .76);
  --color-secondary-40op: rgba(166, 169, 153, .4);
  --color-secondary-20op: rgba(169, 153, 161, 0.2);
  --color-white: rgb(246, 242, 239);
  --color-white-76op: rgba(246, 242, 239, .76);
  --color-white-40op: rgba(246, 242, 239, .4);
  --color-black: rgb(23, 23, 23);
  --color-black-76op: rgb(23, 23, 23, .76);
  --color-black-40op: rgb(23, 23, 23, .4);

  /* font-size */
  --fs-heading1: clamp(7.8rem, calc((120 / var(--viewportWidth)) * 100vw), 12rem);
  --fs-heading2: clamp(4.4rem, calc((60 / var(--viewportWidth)) * 100vw), 6rem);
  --fs-sub-title1: 2.4rem;
  --fs-sub-title2: 2rem;
  --fs-sub-title3: 1.6rem;
  --fs-body1: 1.6rem;
  --fs-body2: 1.4rem;
  --fs-body3: 1.2rem;
  --fs-highlight-body: 2rem;
  --fs-copy: 1.4rem;
  --fs-btn: 1.5rem;

  /* font-weight */
  --fw-heading1: 300;
  --fw-heading2: 400;
  --fw-heading3: 400;
  --fw-sub-title1: 500;
  --fw-sub-title2: 500;
  --fw-sub-title3: 500;
  --fw-body: 400;
  --fw-highlight-body: 400;
  --fw-copy: 400;
  --fw-btn: 500;

  /* line-height */
  --lh-heading1: 1.05;
  --lh-heading2: 1.1;
  --lh-heading3: 1.3;
  --lh-sub-title1: 1.3;
  --lh-sub-title2: 1.3;
  --lh-sub-title3: 1.3;
  --lh-body: 1.5;
  --lh-highlight-body: 1.45;
  --lh-copy: 1.5;

  /* letter-spacing */
  --letter-spacing-kr: -0.025em;
}

@media (max-width: 1440px){
  :root {
    --viewportWidth: 1440;

    /* font-size */
    --fs-heading1: clamp(7.2rem, calc((80 / var(--viewportWidth)) * 100vw), 8rem);
    --fs-heading2: clamp(4rem, calc((44 / var(--viewportWidth)) * 100vw), 4.4rem);
  }
}

@media (max-width: 1280px){
  :root {
    --viewportWidth: 1280;

    /* layout */ 
    --header-size: 6rem;
    --grid-margin-size: 3.2rem;
    --grid-gutter-size: 2rem;

    /* font-size */
    --fs-heading1: clamp(6rem, calc((72 / var(--viewportWidth)) * 100vw), 7.2rem);
    --fs-heading2: clamp(3.2rem, calc((40 / var(--viewportWidth)) * 100vw), 4rem);
  }
}

@media (max-width: 1024px){
  :root {
    --viewportWidth: 1024;

    /* layout */ 
    --header-size: 4.8rem;
    --grid-margin-size: 2.4rem;
    --grid-gutter-size: 1.6rem;

    /* font-size */
    --fs-heading1: clamp(4.8rem, calc((60 / var(--viewportWidth)) * 100vw), 6rem);
    --fs-heading2: clamp(2.8rem, calc((32 / var(--viewportWidth)) * 100vw), 3.2rem);
  }
}

@media (max-width: 768px) {
  :root {
    --viewportWidth: 768;

    --header-size: 4.8rem;
    --grid-margin-size: 2rem;
    --grid-gutter-size: 1.6rem;

    /* font-size */
    --fs-heading1: clamp(3.2rem, calc((48 / var(--viewportWidth)) * 100vw), 4.8rem);
    --fs-heading2: clamp(2.4rem, calc((28 / var(--viewportWidth)) * 100vw), 2.8rem);
    --fs-sub-title1: clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem);
    --fs-sub-title2: clamp(1.6rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem);
    --fs-sub-title3: clamp(1.4rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);
    --fs-body1: clamp(1.4rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);
    --fs-body2: clamp(1.2rem, calc((14 / var(--viewportWidth)) * 100vw), 1.4rem);
    --fs-body3: clamp(1rem, calc((12 / var(--viewportWidth)) * 100vw), 1.2rem);
    --fs-highlight-body: clamp(1.6rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem);
    --fs-copy: clamp(1.2rem, calc((14 / var(--viewportWidth)) * 100vw), 1.4rem);
    --fs-btn: clamp(1.3rem, calc((15 / var(--viewportWidth)) * 100vw), 1.5rem);
  }
}

@media (max-width: 375px){
  :root {
    --viewportWidth: 375;

    --header-size: 4.8rem;
    --grid-margin-size: 2rem;
    --grid-gutter-size: clamp(1.4rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);

    /* font-size */
    --fs-heading1: clamp(2.4rem, calc((32 / var(--viewportWidth)) * 100vw), 3.2rem);
    --fs-heading2: clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem);
    --fs-sub-title1: clamp(1.6rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem);
    --fs-sub-title2: clamp(1.4rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);
    --fs-sub-title3: clamp(1.2rem, calc((14 / var(--viewportWidth)) * 100vw), 1.4rem);
    --fs-body1: clamp(1.2rem, calc((14 / var(--viewportWidth)) * 100vw), 1.4rem);
    --fs-body2: clamp(1rem, calc((12 / var(--viewportWidth)) * 100vw), 1.2rem);
    --fs-body3: clamp(.8rem, calc((10 / var(--viewportWidth)) * 100vw), 1rem);
    --fs-highlight-body: clamp(1.4rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);
    --fs-copy: clamp(1rem, calc((14 / var(--viewportWidth)) * 100vw), 1.2rem);
    --fs-btn: clamp(1.1rem, calc((15 / var(--viewportWidth)) * 100vw), 1.3rem);
  }
}

* {
  font-family: 'roc-grotesk', 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased; /* 모든 WebKit 기반 브라우저에서 부드러운 폰트 렌더링 설정 */
  -moz-osx-font-smoothing: grayscale; /* macOS에서 폰트 부드럽게 설정 */
  text-rendering: optimizeLegibility; /* 폰트 렌더링 최적화 */
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
}
body {background: var(--color-white);}
body.dark-mode {background: var(--color-black);}
figure {font-size: 0;}
.korLs {letter-spacing: var(--letter-spacing-kr);}