header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top .3s ease-in-out;
  background: var(--color-white);

  .headerWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem var(--grid-margin-size);
    
    .logo {
      height: 2.8rem;
      opacity: 1;
      z-index: 10;
    }

    .primaryNav {
      display: flex;
      align-items: center;
      z-index: 10;

      .gnbMenu {
        display: flex;
        margin: .2rem 0 0;
        
        li {
          margin: 0 1.4rem;
          cursor: pointer;

          .navLink {
            position: relative;
            font-size: var(--fs-sub-title3);
            font-weight: var(--fw-sub-title3);
            line-height: 1;
            color: var(--color-primary);
            transition: all .3s ease-in-out;
            cursor: pointer;

            &::after {
              content: url('../src/common/gnb_pin_icon_primary.svg');
              position: absolute;
              display: none;
              margin: -.8rem 0 0 .4rem;
            }
            &:hover {opacity: .4;}
            &.active {
              &::after {display: inline-block;}
              &:hover {opacity: 1;}
            }
          }
        }
      }

      .modeWrap {
        display: flex;
        margin: 0 0 0 1rem;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.4rem;
          height: 2.4rem;

          &::after {
            content: '';
            display: block;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            background: var(--color-primary);
          }
          svg {display: none;}

          &.active::after {
            width: 0;
            height: 0;
          }
          &.active svg {display: block;}
        }
      }
    }

    .slideDownNav {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem var(--grid-margin-size) 2.4rem;
      background: var(--color-white);
      transform: translateY(-100%);
      overflow: hidden;
      z-index: 3;
      

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .8rem var(--grid-gutter-size);
        margin: 0 0 1.6rem;

        li {
          grid-column: span 2;
  
          .navLink {
            font-size: var(--fs-sub-title3);
            font-weight: var(--fw-sub-title3);
            line-height: var(--lh-sub-title3);
            color: var(--color-primary);
          }
        }
      }

      .modeWrap {
        display: flex;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem);
          height: clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem);

          &::after {
            content: '';
            display: block;
            width: .8rem;
            height: .8rem;
            border-radius: 50%;
            background: var(--color-primary);
          }
          
          svg {display: none;}

          &.active::after {
            width: 0;
            height: 0;
          }
          &.active svg {display: block;}
        }
      }

      &.open {animation: slideDown .5s forwards;}
      &.close {animation: slideUp .5s forwards;}
    }

    .toggleMenu {
      display: none;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    
      span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
    
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 2rem;
          height: .2rem;
          background: var(--color-primary);
          transform-origin: center;
          transition: all .3s ease-in-out;
          opacity: 1;
        }
    
        &::before {transform: translateY(-.4rem);}
        &::after {transform: translateY(.4rem);}
      }
    
      &.open span {
        &::before {transform: rotate(-45deg);}
        &::after {transform: translate(200%, .4rem); opacity: 0;}
      }
    }
  }
}

.dark-mode header {
  background: var(--color-black);

  .headerWrapper {
    .logo {
      max-height: 2.8rem;
      opacity: 1;
      
      path {
        fill: var(--color-secondary);
      }
    }

    .primaryNav {
      .gnbMenu li {
        .navLink {
          color: var(--color-secondary);

          &::after {
            content: url('../src/common/gnb_pin_icon_secondary.svg');
          }
        }
      }

      .modeWrap a {
        &::after {background: var(--color-secondary);}
      }
    }

    .slideDownNav {
      background: var(--color-black);

      ul {
        li {
          .navLink {color: var(--color-secondary);}
        }
      }

      .modeWrap {
        a {
          &::after {background: var(--color-secondary);}
        }
      }
    }

    .toggleMenu {
      span {
        &::before {background: var(--color-secondary);}
        &::after {background: var(--color-secondary);}
      }
    }
  }
}

@media (max-width: 768px){
  header {
    .headerWrapper {
      padding: 1.2rem var(--grid-margin-size);
      
      .logo {
        height: 2rem;

        svg {
          width: auto;
          height: 100%;
        }
      }

      .primaryNav {
        .gnbMenu {display: none;}
        .modeWrap {display: none;}
      }

      .toggleMenu {display: flex;}
    }
  }
}

@media (max-width: 375px){
  header {
    .headerWrapper {
      .slideDownNav {
        padding: clamp(1.6rem, calc((20 / var(--viewportWidth)) * 100vw), 2rem) var(--grid-margin-size) clamp(2rem, calc((24 / var(--viewportWidth)) * 100vw), 2.4rem);
    
        ul {
          grid-gap: clamp(.6rem, calc((8 / var(--viewportWidth)) * 100vw), .8rem) var(--grid-gutter-size);
          margin: 0 0 clamp(1.2rem, calc((16 / var(--viewportWidth)) * 100vw), 1.6rem);
        }
    
        .modeWrap {
          a {
            &::after {
              width: clamp(.6rem, calc((8 / var(--viewportWidth)) * 100vw), .8rem);
              height: clamp(.6rem, calc((8 / var(--viewportWidth)) * 100vw), .8rem);
            }
          }
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(var(--header-size));
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(var(--header-size));
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}