.main {
  & section {background: var(--color-white);}

  .hero {
    height: calc(100vh - var(--header-size));

    .wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin: var(--header-size) 0 0;
      padding: 2.4rem 4rem 4.8rem;
      
      .topArea {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        .txtWrap {
          width: 32.62%;
  
          h5 {
            font-size: var(--fs-highlight-body1);
            line-height: var(--lh-highlight-body1);
            color: var(--color-black);
          }
          p {
            margin: 2.4rem 0 0;
            font-size: var(--fs-body1);
            line-height: 1;
            color: var(--color-black-40op);
          }
        }
  
  
        .imgWrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: calc(50% - var(--gutter-size));
          
          figure {
            width: 20rem;
            height: 20rem;
            margin: 0 1.2rem 0 0;
            background: #d9d9d9;
            &:last-child {margin: 0;}
          }
        }
      }
  
      .botArea {
        display: flex;
        justify-content: space-between;
        align-items: end;
  
        .txtWrap {
          .status {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 0 2rem;
            padding: .4rem .8rem;
            background: var(--color-black);
  
            a {
              display: flex;
              align-items: center;
              margin: .1rem 0 0;
              font-size: var(--fs-body1);
              color: var(--color-white);
              line-height: 1;
  
              &::before {
                content: '';
                display: block;
                margin: 0 .8rem 0 0;
                width: .6rem;
                height: .6rem;
                background: #57CE3A;
                border-radius: 50%;
              }
            }
          }
          p {
            font-family: 'Pretendard';
            font-size: var(--fs-highlight-body2);
            line-height: var(--lh-highlight-body2);
          }
        }
  
        .largeLogo {
          height: 18rem;  
  
          path {
            fill: transparent;
            stroke: var(--color-black);
            stroke-width: 1;
            stroke-dasharray: 550;
            stroke-dashoffset: 550;
            transition: stroke-dashoffset 2s .5s ease-in-out, fill 1.5s 1.5s ease-in-out;
          }
  
          &.on {          
            path {
              fill: var(--color-black);
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }
  
  .projFrame {
    .wrapper {
      padding: 8rem 0 0;
      
      .topArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 2.4rem;
        padding: 0 4rem;

        & > h6 {
          font-size: var(--fs-sub-title3);
          font-weight: var(--fw-sub-title3);
          color: var(--color-black);
          line-height: 1;
        }
        & > a {
          font-size: var(--fs-btn);
          font-weight: var(--fw-btn);
          color: var(--color-black);
          line-height: 1;
          transition: all .3s ease-in-out;
          opacity: 1;

          &:hover {
            opacity: .4;
          }
        }
      }

      .projInner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: .4rem;
  
        .projItem {
          position: relative;
          width: calc(50% - .2rem);
          padding: 0 0 37.4%;

          &:nth-child(1) {background: url('../src/main/kukjae_thumnail.png') no-repeat center center / cover;}
          &:nth-child(2) {background: url('../src/main/jungwoo_thumnail.png') no-repeat center center / cover;}
          &:nth-child(3) {background: url('../src/main/bsg_thumnail.png') no-repeat center center / cover;}
          &:nth-child(4) {background: url('../src/main/wegamer_thumnail.png') no-repeat center center / cover;}
          &:nth-child(5) {background: url('../src/main/azothbio_thumnail.png') no-repeat center center / cover;}
          &:nth-child(6) {background: url('../src/main/ul_materials_thumnail.png') no-repeat center center / cover;}
          &:nth-child(7) {background: url('../src/main/dowon_thumnail.png') no-repeat center center / cover;}
          &:nth-child(8) {background: url('../src/main/calmcalm_thumnail.png') no-repeat center center / cover;}

          .thumbnail {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 0;
            transform: translateY(-50%) scaleY(0);
            width: 100%;
            visibility: hidden;
            transition: all .3s ease-in-out;
            background: var(--color-black);
    
            .txtWrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding: .4rem .8rem;
              z-index: 3;
    
              h6 {
                display: inline-block;
                font-family: 'Pretendard';
                font-size: var(--fs-sub-title3);
                font-weight: var(--fw-sub-title3);
                color: var(--color-white);
                line-height: 1;
              }
              p {
                display: inline-block;
                font-size: var(--fs-sub-title3);
                font-weight: var(--fw-sub-title3);
                color: var(--color-white);
                line-height: 1;
              }
            }
          }
          
          &:hover {
            .thumbnail {
              visibility: visible;
              transform: scaleY(1);
            }
          }
        }
      }
  
      .btnArea {
        padding: 1.2rem 0;
        margin: 4.8rem 0 0;
        text-align: center;
        .moreBtn {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          
          .dot {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: -.1rem 0 0;
            transition: all .3s ease-in-out;
    
            span {
              display: block;
              width: .3rem;
              height: .3rem;
              margin: 0 .3rem;
              border-radius: 50%;
              background: var(--color-black);
            }
          }
          p {
            margin: 0 1.2rem;
            font-size: var(--fs-btn);
            font-weight: var(--fw-btn);
            line-height: 1;
            color: var(--color-black);
            transition: all .3s ease-in-out;
          }
    
          &:hover {
            .dot.before {margin: -.1rem .8rem 0 0;}
            .dot.after {margin: -.1rem 0 0 .8rem;}
            p {opacity: .4;}
          }
        }
      }
    }
  }
}


.main.dark-mode {
  
}